@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

/* styling all horizontal lines */
hr {
    width: 100vw;
    height: 3px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin-top: 0;
}

a:hover {
    color: red;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

span {
    color: blue;
}

/* navbar needed its own div cuz otherwise hr was being centered with width 0 */

/* centering the entire navbar container */
.main-pos {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* setting parent container to be flex to center images and text containers @ 80% of its original container size*/
.global {
    display: flex;
    width: 80%;
}

/* sizing logo respective of aspect-ratio */
.main-logo {
    object-fit: contain;
    width: 100%;
    height: 80px;
}

/* positioning image */
.imgPos {
    display: flex;
    width: 100px;
}

/* makes anchor tag a pointer */
a {
    cursor: pointer;
}

/* spacing the text on the right to be spaced evenly */
.text-container {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

/* pushes the text to the end of the container in the horizontal direction (ie. to the right) via justify-content */
.text-pos {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 10px;
}

/* centering the text in its own respective containers */
.aboutPosition {
    display: flex;
    order: 3;
    justify-content: center;
    align-items: center;
}

.accountPosition {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
}

.faqPosition {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    order: 1;
}

/* positioning main section of text/image */
.global-image-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50vh;   
    
}

/* centering buttons/text in its respective container */
.main-text-position {
    display: flex;
    width: 80%;
    margin-left: 23%;
    height: 400px;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* styling for the main text */
.main-text-position h1 {
    font-size: 36px;
}

.main-text-position p {
    line-height: 20px;
    width: 350px;
    text-align: center;
    margin-top: 0;
    margin-right: 30px;
}

.imagePosition {
    margin-right: 10px;
}

/* styling for the button */
.main-button-position {
    display: inline-flex;
    justify-content: space-evenly;
    height: 8px;
    width: 100%;
}

.btn {
    cursor: pointer;
    display: inline-block;
}

.buttonPosition {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-image {
    object-fit: contain;
    width: 40rem;
    height: 500px;
}

/* centering main-div */
.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-info-container {
    display: flex;
    flex-direction: row;
    width: 1000px;
    justify-content: space-between;
}

.developers-difficulty, .modern-motivation, .personalised-problem-set {
    margin-top: 10px;
    width: 280px;
}

.main-info-container h3 {
    width: 50px;
}

.centerText {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .main-info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 1000px;
        justify-content: space-between;
    }

    .global-image-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 50vh;   
    }

    .imagePosition {
        display: flex;
        order: 2;
    }
}

.imagePosition {
    margin-right: 120px;
}










